body {
  background-color: green;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper {
  width: 50%;
  height: auto;
  min-height: 25vh;
  background-color: white;
  border-radius: 3px;
}

#quote-box {
  display: table;
}
