html,body {
  height: 100%;
  width: 100%;
}

.App {
  height: 50em;
}

#wrapper {
  width: 35em;
}

#quote-box {
  max-width: 100%;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: none !important;
}

.btn-primary, .btn-primary:hover,  .btn-primary:focus,
.btn-primary:active{
  border-color: transparent !important;
}

.btn:hover {
  opacity: .9 !important;
}

#buttons a {
  font-size: .85em;
}

#new-quote {
  font-size: .85em;
}

.footer {
  width: 35em;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

@keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.demo {
  animation-name: example;
  animation-duration: 2s;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}


.my-node-enter {
  opacity: 1;
}
.my-node-enter-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.my-node-exit {
  opacity: 0;
}
.my-node-exit-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
